<h1 class="text-justify">Collaborators</h1>
</br>
<h5>Add collaborators to the Wiki (showing all current users)</h5>
</br>
<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Email</th>
      <th>Give Access</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<% link_to "Share Wiki" , @wiki.collaborators ,class="btn btn-large btn-success"