<h1 class="text-justify">Collaborators</h1>
</br>
<h5>Add collaborators to the Wiki (showing all current users)</h5>
</br>
<p>You must first enroll as a premium user before you can add or view potential collaborators!</p>
<%= link_to u.all, User %>
</br>
