<div class="hero-unit">
<h2>About Blocipedia</h2>
<p>This is an app that allows for collaboration on community-sourced content.</p>
<p>Created by me.</p>
<p>Example</p>
<p>Star Wars Wiki could have articles on...</p>
<ol>
<li>Death Star</li> 
<li>Star Destroyers</li> 
<li>Han Solo</li>
</ol>
</br>
<p>Really it's all up to your imagination!</p>
</div>