<div class="hero-unit">
  <h1>Blocipedia</h1>
  <p>Blocipedia is a resource for community-sourced content. Sign up now!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-large' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %> today!
  </p>
</div>

<div class="row">
  <div class="span6">
    <h2>Public Wikis</h2>
    <p>These are public repositories viewable by anyone. Share anything from lectures notes to whatever else your mind can conjure!</p>
  </div>
  <div class="span6">
    <h2>Private Wikis</h2>
    <p>These wikis are viewable only by those site users who have the link to it. Great for team-oriented activites!</p>
  </div>
</div>