<div class="hero-unit text-center">
  <h1>Blocipedia</h1>
  <p>Blocipedia is a resource for community-sourced content.</p>
  <p>Create and share Markdown Wikis.</p>
  <p>Sign up today!</p>
  <p>
   <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-large' %>
  </p>
</div>

<div class="thumbnails">
  <div class="span6">
    <%= link_to "Public Wikis", wikis_path, class: 'btn btn-info btn-xs' %>
    <p>These are public repositories viewable by anyone. Share anything from lectures notes to whatever else your mind can conjure!</p> </br>
    <p>Create as many public wikis as you want!</p>
  </div>
  <div class="span6">
    <%= link_to "Private Wikis", new_user_registration_path, class: 'btn btn-info btn-xs' %>
    <p>These wikis are viewable only by those site users who have the link to it. Great for team-oriented activites!</p></br>
    <p>Create private wikis!</p>
  </div>
</div>