<h1>Edit Wiki</h1>

<div class="row">
  <div class="span6">
    <h6>Guidelines for new wiki:</h6>
    <ul>
      <li>Make sure content is appropriate.</li>
      </br>
      <li>Make sure your wiki is broad enough to contain relevant articles.</li>
      </br>
      <li>Example of a wiki: Star Wars wiki with articles on Death Star, Star Destroyers, and Han Solo</li>
    </ul>
  </div>
  <div class="span6">
    <%= render partial: 'form' %>
  </div>
</div>